<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card mt-3">
      <div class="card-body">
          <h3 class="title">
            Sign up
          </h3>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group row">
              <%= f.label :email, class: "col-sm-3 col-form-label" %><br />
              <div class="col-sm-9">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password, class: "col-sm-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password_confirmation, class: "col-sm-3 col-form-label", style: "position: relative;bottom: 14px;" %><br />
              <div class="col-sm-9">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-block btn-primary" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


